<div class="post-wrapper">
  <div class="post-content">
    <div class="header" *ngFor="let item of responseData">
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items:center">
        <div class="poster-avatar">
          <img [src]="posterImage" alt="poster-image">
        </div>
        <div class="poster-name">{{item.memberName}}</div>
      </div>
      <div class="posted-time">{{item.entryDate | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="main-post" *ngFor="let item of responseData">
      <div class="post-message">{{item.subject}}</div>
      <div class="post-date">{{item.entryDate | date: 'dd/MM/yyyy'}}</div>
    </div>
  </div>

  <div class="comment-section">
    <div class="comment-input">
        <div class="send">
          <textarea placeholder="Enter comment here..." (ionBlur)="getPostTopic($event)"></textarea>
            <span class="button" (click)=" submit()">Send</span>
        </div>
    </div>

      <div class="outgoing"  *ngFor="let comment of commentData" >
        <div class="res">{{comment.response}}</div>
        <div class="date">{{comment.entryDate| date: 'dd/MM/yyyy'}}</div>
      </div>
  </div>
</div>
