<div class="wrapper">
  <div class="image">
    <img src="../../assets/images/Delta-state-logo.png" alt="stateLogo">
  </div>
  <div class="form-div">
    <form action="">
      <label for="">Submit a ticket</label><br>
      <input type="text" placeholder="Request..." name="request">
      <input type="text" placeholder="Subject..." name="Subject">
      <textarea placeholder="your message here..." name="message"></textarea>
      <input type="file" name="file">
      <button>submit</button>
    </form>
  </div>
  
</div>
