//  @import '../../global.scss';
 .bg {
    width: 100vw;
    height: 100vh;
    background-color: #f0ffff;
    // background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;
    // filter: blur(80px);
    // transform: scale(1.2);
  }
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
  .logo{
    top: 150px;
    display: flex;
    position: absolute;
  }
  .container{
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top: 0;
    h2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      // font-family: 'Poppins', sans-serif;
    }
    position: absolute;
    .title{
      display: flex;
      justify-content: space-between;
      height: 73px;
      width: 100vw;
      background-color: #207edf;
      top: 0;
      position: fixed;
      .back-arrow{
        padding-left: 10px;
      }
      .image{
        img{
          padding: 7px;
          height:70px;
          width: 70px;
          border-radius: 50%;
          border: 2px solid rgba(61, 18, 219, 0.24);
        }
      }
      .name{
        h2{
          font-family: 'Poppins', sans-serif;
        }
      }
      .dot{
        padding: 24px;
      }
    }
    .chat{
      margin-top: 73px;
      padding: 10px;
      z-index: -1;
      .incoming,.outgoing{
        display: block;
        position: relative;
        clear: both;
        animation: bounce 500ms linear both;
      }
      .incoming{
        float: left;
        margin-left: 2px;
        background-color: #207edf;
        border-radius: 10px;
        padding: 5px;
        max-width: 60vw;
        h2{
        font-size: 15px;
        }
      }
    }
    .outgoing{
        float: right;
        margin-right: -116px;
      background-color: #9fe2bf;
        border-radius: 10px;
        padding: 5px;
        // max-width: 60vw;
        position: relative;
        h2{
        font-size: 15px;
        }
    }
    .send{ 
      flex: 0 1 40px;
      width: 95vw;
      background: rgba(0, 0, 0, 0.3);
      padding: 5px;
      position: fixed;
      border-radius: 100px;
      margin: auto;
      bottom: 5px;
    }
    .message-input{
      background: none;
      border: none;
      outline: none!important;
      resize: none;
      color: #000;
      font-size: 17px;
      height: 25px;
      margin: 0;
      padding-right: 20px;
      width: 265px;

      textarea:focus:-webkit-placeholder{
        color: transparent;
    }
    }
    .message-submit{
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #fff;
      border: none;
      background: #248A52;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px; 
      border-radius: 10px;
      outline: none!important;
      transition: background .2s ease;
    }
  }
  
/*--------------------
  Message Box
--------------------*/


  @keyframes bounce { 
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  