<ion-content [fullscreen]="true">
  <!-- background -->
    <div class="bg"></div>
    <!-- coat of arm -->
    <div class="logo">
      <img [src]=logo alt="coat-of-arm">
    </div>
   
    <div class="container">
       <!-- title page -->
    <div class="title">
      <div class="back-arrow">
        <h2><</h2>
      </div>
      <div class="image">
        <img src="../../assets/icon/logo.png" alt="avatar">
      </div>
      <div class="name">
        <h2>Pension Board</h2>
      </div>
      <div class="dot">:</div>
    </div>
    <div class="chat">
      <div class="incoming">
        <h2>hello, how may i help you, respond with the appropraite response</h2>
        <h2>is my account cleard for payment</h2>
      </div>
      <div class="outgoing">
        <h2>yes oh!</h2>
      </div>
      <div class="incoming">
        <h2>congratulation you have been cleared</h2>
      </div>
      <div class="outgoing">
        <h2>Ose  oh!</h2>
      </div>
      <div class="send">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>
    </div>
  
    </div>
  
    <!-- <div class="message-box">
      <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
      <button type="submit" class="message-submit">Send</button>
    </div> -->
  
    <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  </ion-content>
  