<ion-tabs style="background-color: #1149d6;">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <app-font-icon iconType="remix" iconName="home-8-line" iconSize="nav-icons" iconColor="custom"></app-font-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <app-font-icon iconType="remix" iconName="chat-3-line" iconSize="nav-icons" iconColor="custom"></app-font-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <app-font-icon iconType="remix" iconName="chat-4-line" iconSize="nav-icons" iconColor="custom"></app-font-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <app-font-icon iconType="remix" iconName="settings-line" iconSize="nav-icons" iconColor="custom"></app-font-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
