// @import "../../global.scss";
app-font{
    background-color: red;
}

ion-tab-button {
    --background: rgb(25, 59, 226);
    --color: #fff;
     --color-focused: #ffaa00;
        --color-selected: #ffaa00;
}