<ion-content>
  <!-- Beginning of Page Back Button  -->
  <div class="back-button">
    <div class="back-button" (click)="backButton()">
      <app-font-icon iconType="remix" iconName="arrow-left-s-line" iconSize="nav-icons" iconColor="custom">
      </app-font-icon>
    </div>

  </div>
  <div class="form-wrapper">
    <fieldset>
      <legend>Profile</legend>
      <!-- Beginning of Profile specs & image -->
      <div class="image-upload-wrapper">

      </div>

      <input type="text" placeholder="Surname" value="{{surname}}" disabled />
      <input type="text" placeholder="Other name" value="{{otherNames}}" disabled />
      <input type="text" placeholder="ComputerNo" value="Computer No:  {{computerNo}}" disabled>
      <input type="text" placeholder="accruedRight" value="Accrued Right: &#8358; {{result?.accruedRight | number}}"
        disabled>
      <input type="text" placeholder="accruedRight" value="Indebtedness: &#8358; {{result?.indebtedness | number}}"
        disabled>
      <input type="text" placeholder="MemberId" value="Apllication Status: {{result?.applicationStatus}}" disabled>
      <input type="text" placeholder="paymentSchedule" value="Payment Schedule:  {{result?.paymentSchedule}}" disabled>


      <input type="text" placeholder="PFA" value="PFA: {{pfaCode}}" disabled>
      <input type="text" placeholder="PIN" value="PIN: {{pinNo}}" disabled>

      <input type="submit" value="Delete Account" (click)="confirmDelete();">



    </fieldset>
  </div>
  <div class="delete-overlay" *ngIf="isDelete;">
    <div class="confirm-delete">
      <div class="text">
        <p>Are you sure you want to deactivate your account?</p>
      </div>
      <div class="yes-no">
        <button class="yes" (click)="properDelete(computerNo)">Yes</button>
        <button class="no" (click)="confirmDelete();">No</button>
      </div>

    </div>
  </div>
</ion-content>