<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
<div class="main-body">
  <div class="main-body2"></div>
    <div class="nav-bar">
      <h2>Home</h2>
      <h2>About</h2>
      <h2>contact</h2>
      <h2>FAQs</h2>
    </div>
</div>
<!-- end of second blue -->


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
