
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div class="chat">
    <div class="messages">
      <div class="messages-content"></div>
    </div>
    
  
  </div> -->
  
  <div class="bg"></div>

  <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
