.post-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0, 0.6);
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;

    

    .topic {
        width: 100%;
        border-bottom: 2px solid #ccc;

        ion-item {
            --background: #f7f7f7;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            box-shadow: 2px 2px 15px 5px #cfcfcf;

            ion-input {
                --border-bottom: none;
                --outline: none;
                --padding-left: 10px;
                --padding-right: 10px;
                --padding-bottom: 10px;
                --padding-top: 10px;
                border-radius: 20px;
                color: #000;
            }
        }
        
    }
    .message {
        margin-top: 20px;
        width: 100%;
        border-bottom: 2px solid #ccc;
        ion-item {
            --background: #f7f7f7;

        ion-textarea {
            --border-bottom: none;
            color: #000;
        }
    }
    }
    .submit-button 
    {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}