<ion-content>
  <div class="forum-page-wrapper" *ngIf="isTopicList">
    <div class="forum-header">
      <div class="title">Support</div>
      <!-- <div class="search-area">
        <input type="text" placeholder="search topics">
      </div> -->
    </div>

    <div class="forum-topic-wrapper">
      <div class="topic-card" *ngFor="let item of responseData" (click)="routeToInbox(item.computerNo, item.ticketCategoryId,  item.ticketId)">
        <div class="post-topic">{{item.subject}}</div>
        <div class="poster-detail">
          <div class="avatar">
            <img [src]="posterImage" alt="">
          </div>
        <div class="name">{{item.ticketCategoryName}}</div>
        <div class="post-date">{{item.entryDate | date: 'dd/MM/yyyy'}}</div>
        </div>
      </div>
     
    </div>

    <div class="new-post-icon" (click)="swtichActivePage('new-post')">
      <img src="../../../assets/images/newpost.svg" alt="">
    </div>
  </div>

  <div class="post-details" *ngIf="isPostDetail">
    <app-post-detail></app-post-detail>
  </div>

  <new-post *ngIf="isNewPost">
    <app-support></app-support>
  </new-post>
</ion-content>