<ion-content>
  <div class="forum-page-wrapper" *ngIf="isTopicList">
    <div class="forum-header">
      <div class="title">Support</div>
      <!-- <div class="search-area">
        <input type="text" placeholder="search topics">
      </div> -->
    </div>

    <div class="forum-topic-wrapper">
      <div class="topic-card" (click)="swtichActivePage('post-detail')">
        <div class="post-topic">{{postTopic}}</div>
        <div class="poster-detail">
          <div class="avatar">
            <img [src]="posterImage" alt="">
          </div>
        <div class="name">{{posterName}}</div>
        </div>
      </div>
      <div class="topic-card">
        <div class="post-topic">{{postTopic}}</div>
        <div class="poster-detail">
          <div class="avatar">
            <img [src]="posterImage" alt="">
          </div>
        <div class="name">{{posterName}}</div>
        </div>
      </div>
    </div>

    <div class="new-post-icon" (click)="swtichActivePage('new-post')">
      <img src="../../../assets/images/newpost.svg" alt="">
    </div>
  </div>

  <div class="post-details" *ngIf="isPostDetail">
    <app-post-detail></app-post-detail>
  </div>

  <new-post *ngIf="isNewPost">
    <app-support></app-support>
  </new-post>
</ion-content>