  <!-- nav bar -->
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="/app/router/dashboard">Home</a></li>
      <li><a href="app/router/faq">FAQs</a></li>
      <li><a href="/app/router/forum">Forum</a></li>
      <li><a href="/app/router/inbox">Support</a></li>
      <li><a href="/app/router/chat">Chat</a></li>
      <li><a href="/app/router/login">Profile</a></li>
    </ul>
  </div>
  <!-- end of nav bar -->