<!-- <div class="background-image">
  <img [src]=coatOfArm alt="coat of arm">
</div> -->
<div class="form">
  <div class="title">Welcome</div>
  <div class="subtitle">Let's create your account!</div>
 
	<app-input (value)="updateFirstName($event)" type="text" inputType="default" id="1" legend="First name" placeholder="First name"   label="firstname" bgColor="#303245" color="#eee" icon="user-fill"></app-input>
	<app-input (value)="updateLastName($event)" type="text" inputType="default" id="2" legend="Last name" placeholder="Last name"  label="firstname" bgColor="#303245" color="#eee" icon="user-fill"></app-input>
	<app-input (value)="updateEmail($event)" type="email" inputType="default" id="3" legend="Email" placeholder="example@gmail.com"  label="firstname" bgColor="#303245" color="#eee" icon="inbox-fill"></app-input>
	<app-input (value)="updatePassword($event)" type="password" inputType="default" id="4" legend="password" placeholder="password"   label="firstname" bgColor="#303245" color="#eee" icon="lock-fill"></app-input>
	
  <div class="cut cut-short"></div>
  <button type="text" class="submit" (click)="validateInput()">submit</button>
  <h3 class="subtitle new" (click)="gotoSignin()">Already have an account? <span style="color: #23bfff;"> login</span></h3>
</div>