<div class="wrapper">
  
  <div class="header"> 
    <div class="back-button" (click)="backButton()">
      <app-font-icon iconType="remix" iconName="arrow-left-s-line" iconSize="nav-icons" iconColor="custom"></app-font-icon>
    </div>

    <div class="text">Reach out to helpdesk</div>
  </div>
  <div class="form-div">
    <div class="holder" style="display:flex;flex-direction: column;">
      <ion-item style="padding: 10px;">
        <ion-label color="primary" position="floating">Subject</ion-label>
        <ion-input maxlength="50" clearInput placeholder="Subject..." (ionBlur)="updateSubject($event)"></ion-input>
      </ion-item>

      <ion-item style="padding: 10px;">
        <ion-label color="primary" position="floating">Post message</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." (ionBlur)="updateDescripton($event) ">
        </ion-textarea>
      </ion-item>
      <div class="select" style="background-color: rgb(133, 137, 245); border-radius:5px">
        <ion-select interface="action-sheet" placeholder="select an option" required
          (ionBlur)=" updateTicketId($event)" >
          <ion-select-option *ngFor="let result of ticketCategoryApi"
           value="{{result.ticketCategoryId}}">{{result.category}}</ion-select-option>
        </ion-select>
      </div>

      <ion-button (click)="validateInput()">submit</ion-button>
    </div>
  </div>

</div>