<ion-content [fullscreen]="true">
  <!-- nav bar -->
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>
  <!-- end of nav bar -->

  <!-- main content -->
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <div class="box">
          <div class="box-12">
            <div class="box-1">
              <div class="title ion-activatable">
                <h2>FAQs</h2>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </div>
            </div>
            <div class="box-2">
              <div class="title ion-activatable">
                <h2>FORUM</h2>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </div>
            </div>
          </div>
          <div class="box-34">
            <div class="box-3">
              <div class="title ion-activatable">
                <h2>SUPPORT</h2>
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </div>
            </div>
            <div class="box-4">
              <div class="title ion-activatable">
                <h2>CHAT</h2>
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="delta-state-logo">
        <img [src]=deltaState alt="state-logo">
      </div>
      <div class="images">
        <img [src]=help alt="help-desk">
      </div>
      <button class="login button login__submit">
        <span class="button__text">Welcome, Mr User </span>
      </button>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
  <!-- end of main content -->
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>